* {
	font-family: sans-serif;
}

body {
	background-color: #ddd;
	margin: 0px;

	display: flex;
	align-items: center;
	justify-content: center;
}


#artbox {
	background-color: #fff;
	width: 500px;
	height: 540px;
	min-width: 400px;
	min-height: 540px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
	overflow: hidden;

	display: flex;
	flex-flow: row;

	-webkit-user-select: none;
}

#artboxleft {
	width: 100%;
	display: flex;
	flex-flow: column;
}


.artcanvas {
	width: 100%;
	height: 100%;
}
.artbar {
	background-color: #f2f2f2;
	padding: 6px;
}


#layers {
	width: 60px;
	border-left: 1px solid #ddd;
	display: flex;
	align-items: center;
	flex-direction: column-reverse;
	justify-content: center;
}
#artbartop {
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #ddd;
	display: flex;
	align-items: bottom;
	justify-content: center;
}
#artbarbottom {
	height: 30px;
	line-height: 30px;
	border-top: 1px solid #ddd;
}


#brushSize {
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
	background-color: white;
	border-radius: 3px;
	float: left;
	text-align: center;
	width: 30px;
}


.colorSwatch {
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	width: 22px;
	height: 22px;
	margin: 4px;
	display: inline-block;
	transition: width 20ms, height 20ms, margin 20ms;
}
.colorSwatch:hover {
	width: 30px;
	height: 30px;
	margin: 0px;
}
.colorSwatch.active {
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
	width: 30px;
	height: 30px;
	margin: 0px;
}


.layerTile {
	color: rgba(0, 0, 0, .15);
	background-color: rgba(255, 255, 255, 0.25);
	box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	text-align: center;
	line-height: 40px;
	margin: 2px;
	width: 40px;
	height: 40px;
}

.layerTile:hover {
	box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.15);
}

.layerTile.active {
	color: rgba(0, 0, 0, .6);
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
}
