* {
  font-family: sans-serif; }

body {
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center; }

.box {
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; }
  .box.disabled {
    opacity: 0.25; }

.iosketch {
  background-color: #fafafa;
  border-radius: 5px;
  width: 447px;
  height: 494px;
  display: flex;
  flex-flow: row;
  -webkit-user-select: none; }
  .iosketch .toolbar {
    font-size: 11pt;
    flex-shrink: 0;
    transition: width 40ms, height 40ms, padding 40ms; }
    .iosketch .toolbar.main {
      background-color: #f2f2f2;
      padding: 8px; }
    .iosketch .toolbar.top {
      border-bottom: 1px solid #dddddd; }
    .iosketch .toolbar.bot {
      border-top: 1px solid #dddddd; }
    .iosketch .toolbar.left {
      border-right: 1px solid #dddddd; }
    .iosketch .toolbar.right {
      border-left: 1px solid #dddddd; }
    .iosketch .toolbar.vert {
      width: 30px;
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      justify-content: center; }
    .iosketch .toolbar.horz {
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center; }
  .iosketch .button, .iosketch .button-small {
    background-color: white;
    text-align: center;
    opacity: 0.25;
    transition: opacity 60ms;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 2px; }
    .iosketch .button:hover, .iosketch .button-small:hover {
      opacity: 0.5; }
    .iosketch .button.active, .iosketch .active.button-small {
      opacity: 1; }
  .iosketch .button-small {
    transition: width 40ms, height 40ms, margin 40ms;
    width: 22px;
    height: 22px;
    line-height: 22px;
    margin: 4px; }
    .iosketch .button-small:hover, .iosketch .button-small.active {
      width: 30px;
      height: 30px;
      line-height: 30px;
      margin: 0px; }
  .iosketch #paintToolButton {
    transition: width 100ms; }
    .iosketch #paintToolButton .toolIcon {
      width: 30px;
      height: 30px;
      background-size: 30px;
      background-repeat: no-repeat;
      background-image: url(../images/paintBrush.png); }
    .iosketch #paintToolButton #brushStroke {
      width: 0px;
      height: 30px;
      transition: width 100ms;
      background-size: 30px;
      background-repeat: no-repeat; }
      .iosketch #paintToolButton #brushStroke.solid {
        background-image: url(../images/solidStroke.png); }
      .iosketch #paintToolButton #brushStroke.dashed {
        background-image: url(../images/dashedStroke.png); }
    .iosketch #paintToolButton:hover, .iosketch #paintToolButton.active {
      width: 60px; }
      .iosketch #paintToolButton:hover #brushStroke, .iosketch #paintToolButton.active #brushStroke {
        width: 30px; }
  .iosketch #eraseToolButton {
    transition: width 100ms; }
    .iosketch #eraseToolButton .toolIcon {
      width: 30px;
      height: 30px;
      background-size: 30px;
      background-image: url(../images/eraser.png); }
    .iosketch #eraseToolButton #eraseType {
      width: 0px;
      height: 30px;
      transition: width 100ms;
      overflow: hidden; }
      .iosketch #eraseToolButton #eraseType.all::before {
        content: 'all'; }
      .iosketch #eraseToolButton #eraseType.color::before {
        content: 'color'; }
    .iosketch #eraseToolButton:hover, .iosketch #eraseToolButton.active {
      width: 70px; }
      .iosketch #eraseToolButton:hover #eraseType, .iosketch #eraseToolButton.active #eraseType {
        width: 40px; }
  .iosketch #artboxleft {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: space-between; }
  .iosketch .artcanvas {
    background-color: white;
    width: 400px;
    height: 400px;
    margin: auto;
    flex-shrink: 0; }
