

.button {
	background-color: white;
	text-align: center;
	opacity: 0.25;
	transition: opacity 60ms;
	
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin: 2px;

	&:hover {
		opacity: 0.5;
	}
	&.active {
		opacity: 1;
	}

}

.button.layerButton.activeUser {
	border: 1px solid #444;
}


.button-small {
	@extend .button;

	transition: width 40ms, height 40ms, margin 40ms;

	width: 22px;
	height: 22px;
	line-height: 22px;
	margin: 4px;

	&:hover, &.active {
		width: 30px;
		height: 30px;
		line-height: 30px;
		margin: 0px;
	}
}


#paintToolButton {
	transition: width 100ms;

	.toolIcon {
		width: 30px;
		height: 30px;
		background: {
			size: 30px;
			repeat: no-repeat;
			image: url(../images/paintBrush.png);
		}
	}

	#brushStroke {
		width: 0px;
		height: 30px;
		transition: width 100ms;
		background: {
			size: 30px;
			repeat: no-repeat;
		}

		&.solid {
			background-image: url(../images/solidStroke.png);
		}

		&.dashed {
			background-image: url(../images/dashedStroke.png);
		}

	}

	&.active {
		width: 60px;

		#brushStroke {
			width: 30px;
		}
	}

}

#fillToolButton {
	transition: width 100ms;

	.toolIcon {
		width: 30px;
		height: 30px;
		background: {
			size: 30px;
			repeat: no-repeat;
			image: url(../images/fillBrush.png);
		}
	}

}

#eraseToolButton {
	transition: width 100ms;

	.toolIcon {
		width: 30px;
		height: 30px;
		background: {
			size: 30px;
			image: url(../images/eraser.png);
		}
	}

	#eraseType {
		font-size: 12px;
		width: 0px;
		height: 30px;
		transition: width 100ms;
		overflow: hidden;

		&.all::before {
			content: 'all';
		}

		&.color::before {
			content: 'color';
		}

	}

	&.active {
		width: 70px;

		#eraseType {
			width: 40px;
		}
	}
}
