

.button {
	background-color: white;
	text-align: center;
	opacity: 0.25;
	transition: opacity 100ms;
	
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin: 2px;

	&:hover {
		opacity: 0.5;
	}
	&.active {
		opacity: 1;
	}

	&.layerButton {
		-webkit-transform: translateX(3px);
		background-size: contain;
		position: relative;
		overflow: visible;

		&.activeUser {
			margin-top: 6px;
			margin-bottom: 6px;

			&::before {
				content: '';
				position: absolute;
				width: 5px;
				top: 8;
				bottom: 8;
				right: -7;
				border-radius: 6;
				background-color: rgba(0, 0, 0, 0.35);
			}
		}

		&[online=true]::after {
			content: '';
			background-color: $status-green;
			width: 3px;
			border-radius: 2px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: -8;
		}
	}
	
}



.button-small {
	@extend .button;

	transition: opacity 100ms, width 40ms, height 40ms, margin 40ms;

	width: 22px;
	height: 22px;
	line-height: 22px;
	margin: 4px;

	&:hover, &.active {
		width: 30px;
		height: 30px;
		line-height: 30px;
		margin: 0px;
	}
}


#paintToolButton {
	transition: opacity 100ms, width 100ms;

	.toolIcon {
		width: 30px;
		height: 30px;
		background: {
			size: 30px;
			repeat: no-repeat;
			image: url(../images/paintBrush.png);
		}
	}

	#brushStroke {
		width: 0px;
		height: 30px;
		transition: width 100ms;
		background: {
			size: 30px;
			repeat: no-repeat;
		}

		&.solid {
			background-image: url(../images/solidStroke.png);
		}

		&.dashed {
			background-image: url(../images/dashedStroke.png);
		}

	}

	&.active {
		width: 60px;

		#brushStroke {
			width: 30px;
		}
	}

}

#fillToolButton {
	transition: opacity 100ms, width 100ms;

	.toolIcon {
		width: 30px;
		height: 30px;
		background: {
			size: 30px;
			repeat: no-repeat;
			image: url(../images/fillBrush.png);
		}
	}

}

#eraseToolButton {
	transition: opacity 100ms, width 100ms;

	.toolIcon {
		width: 30px;
		height: 30px;
		background: {
			size: 30px;
			image: url(../images/eraser.png);
		}
	}

	#eraseType {
		font-size: 12px;
		width: 0px;
		height: 30px;
		transition: width 100ms;
		overflow: hidden;

		&.all::before {
			content: 'all';
		}

		&.color::before {
			content: 'color';
		}

	}

	&.active {
		width: 70px;

		#eraseType {
			width: 40px;
		}
	}
}
