
.toolbar {
	font-size: 11pt;
	flex-shrink: 0;

	&.main {
		background-color: $toolbar-bg-color;
		padding: 8px;
	}
	&.top {
		border-bottom: 1px solid $toolbar-border-color;
	}
	&.bot {
		border-top: 1px solid $toolbar-border-color;
	}
	&.left {
		border-right: 1px solid $toolbar-border-color;
	}
	&.right {
		border-left: 1px solid $toolbar-border-color;
	}

	&.vert {
		width: 30px;
		display: flex;
		align-items: center;
		flex-direction: column-reverse;
		justify-content: center;
	}
	&.horz {
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

}