

* {
	font-family: sans-serif;
}

body {
	background-color: #ddd;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px;
}

#status {
	margin: 11px;
	width: 6px;
	height: 6px;
	border-radius: 10px;


	&[state='disconnected'] {
		background-color: #f20;
		border: 1px solid red;
	}

	&[state='connecting'] {
		background-color: rgba(0, 255, 0, 0.1);
		border: 1px solid green;
	}

	&[state='connected'] {
		background-color: green;
		border: 1px solid green;
	}
}

.box {
	border-radius: 3px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;

	&.disabled {
		opacity: 0.25;
	}
}

.iosketch {

	@import 'constants';
	@import 'toolbars';
	@import 'buttons';

	background-color: $canvas-bg-color;
	width: 100%;
	height: 100%;

	display: flex;
	flex-flow: row;

	-webkit-user-select: none;

	/* Large */
	.canvasContainer {
		box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.05);
		padding: 4px;
		overflow: hidden;
		position: absolute;
		top: $toolbar-size-total;
		bottom: 0px;
		left: 0px;
		right: $toolbar-size-total;
	}

	/* Small */
	@media (max-width: 600px) {
		.canvasContainer {
			bottom: $toolbar-size-total;
		}
	}

	canvas {
		background-color: white;
		margin: auto;
		position: relative;
	}


}

