

* {
	font-family: sans-serif;
}

body {
	background-color: #ddd;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box {
	border-radius: 3px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;

	&.disabled {
		opacity: 0.25;
	}
}

.iosketch {

	@import 'constants';
	@import 'toolbars';
	@import 'buttons';

	background-color: $canvas-bg-color;
	border-radius: 5px;
	width: 447px;
	height: 494px;

	display: flex;
	flex-flow: row;

	-webkit-user-select: none;


	#artboxleft {
		display: flex;
		flex-flow: column;
		flex-grow: 1;
		flex-shrink: 0;
		justify-content: space-between;
	}

	.artcanvas {
		background-color: white;
		width: 400px;
		height: 400px;
		margin: auto;
		flex-shrink: 0;;
	}


}

