* {
  font-family: sans-serif; }

body {
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px; }

.box {
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; }
  .box.disabled {
    opacity: 0.25; }

.iosketch {
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  -webkit-user-select: none;
  /* Large */
  /* Small */ }
  .iosketch .toolbar {
    font-size: 11pt;
    display: flex;
    justify-content: center;
    align-items: center; }
    .iosketch .toolbar.main {
      background-color: #f2f2f2;
      padding: 8px; }
    .iosketch .toolbar.vert {
      width: 30px;
      flex-direction: column; }
    .iosketch .toolbar.horz {
      height: 30px; }
    .toolbar-tools, .toolbar-colors, .toolbar-layers {
      font-size: 11pt;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f2f2f2;
      padding: 8px;
      position: fixed; }

    .toolbar-tools, .toolbar-colors {
      height: 30px;
      left: 0;
      right: 46px; }

    .toolbar-layers {
      width: 30px;
      flex-direction: column;
      border-left: 1px solid #dddddd;
      top: 0;
      right: 0;
      bottom: 0; }

/* Small */
    .toolbar-tools {
      border-top: 1px solid #dddddd;
      border-bottom: none;
      bottom: 0;
      right: 46px; }

    .toolbar-colors {
      border-bottom: 1px solid #dddddd;
      top: 0;
      left: 0; }

/* Large */
    @media (min-width: 600px) {
      .toolbar-tools, .toolbar-colors {
        border-top: none;
        border-bottom: 1px solid #dddddd;
        top: 0; }

      .toolbar-tools {
        justify-content: flex-end;
        right: 60%; }

      .toolbar-colors {
        justify-content: flex-start;
        left: 40%; } }
  .iosketch .button, .iosketch .button-small {
    background-color: white;
    text-align: center;
    opacity: 0.25;
    transition: opacity 60ms;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 2px; }
    .iosketch .button:hover, .iosketch .button-small:hover {
      opacity: 0.5; }
    .iosketch .button.active, .iosketch .active.button-small {
      opacity: 1; }
  .iosketch .button-small {
    transition: width 40ms, height 40ms, margin 40ms;
    width: 22px;
    height: 22px;
    line-height: 22px;
    margin: 4px; }
    .iosketch .button-small:hover, .iosketch .button-small.active {
      width: 30px;
      height: 30px;
      line-height: 30px;
      margin: 0px; }
  .iosketch #paintToolButton {
    transition: width 100ms; }
    .iosketch #paintToolButton .toolIcon {
      width: 30px;
      height: 30px;
      background-size: 30px;
      background-repeat: no-repeat;
      background-image: url(../images/paintBrush.png); }
    .iosketch #paintToolButton #brushStroke {
      width: 0px;
      height: 30px;
      transition: width 100ms;
      background-size: 30px;
      background-repeat: no-repeat; }
      .iosketch #paintToolButton #brushStroke.solid {
        background-image: url(../images/solidStroke.png); }
      .iosketch #paintToolButton #brushStroke.dashed {
        background-image: url(../images/dashedStroke.png); }
    .iosketch #paintToolButton.active {
      width: 60px; }
      .iosketch #paintToolButton.active #brushStroke {
        width: 30px; }
  .iosketch #fillToolButton {
    transition: width 100ms; }
    .iosketch #fillToolButton .toolIcon {
      width: 30px;
      height: 30px;
      background-size: 30px;
      background-repeat: no-repeat;
      background-image: url(../images/fillBrush.png); }
  .iosketch #eraseToolButton {
    transition: width 100ms; }
    .iosketch #eraseToolButton .toolIcon {
      width: 30px;
      height: 30px;
      background-size: 30px;
      background-image: url(../images/eraser.png); }
    .iosketch #eraseToolButton #eraseType {
      font-size: 12px;
      width: 0px;
      height: 30px;
      transition: width 100ms;
      overflow: hidden; }
      .iosketch #eraseToolButton #eraseType.all::before {
        content: 'all'; }
      .iosketch #eraseToolButton #eraseType.color::before {
        content: 'color'; }
    .iosketch #eraseToolButton.active {
      width: 70px; }
      .iosketch #eraseToolButton.active #eraseType {
        width: 40px; }
  .iosketch .canvasContainer {
    box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.05);
    padding: 4px;
    overflow: hidden;
    position: absolute;
    top: 46px;
    bottom: 0px;
    left: 0px;
    right: 46px; }
  @media (max-width: 600px) {
    .iosketch .canvasContainer {
      bottom: 46px; } }
  .iosketch canvas {
    background-color: white;
    margin: auto;
    position: relative; }
